#menu
{
	position: fixed;
	width: 100%;
	height: 25px;
	background: #0095ff;
}

h1
{
	background: #0095ff;
}

h3
{
	background: #0095ff;

}

a:link {
	color: green;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #464646;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
}
